.navBar {
  background-color: #9bc2a2;
  padding-top: 2%;
}

.navTabs {
  /* background-color: #9bc2a2; */
  margin-left: 30%;
  margin-right: 31%;
}

.top {
  background-color: #9bc2a2;
}

.link {
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 22px;
  margin-right: 20px;
}

.link2 {
  text-decoration: none;
  color: white;
  font-size: 14px;
  float: left;
  margin-left: 10px;
}
