* {
  margin: 0;
  overflow-x: hidden;
}

.app {
  height: 100vh;
}

.inspire-container {
  display: flex;
  overflow: hidden;
}

.color-generator {
  flex: 0.5;
  background-color: #cad2d5;

}

.art-Api {
  flex: 0.5;
  background-color: #cad2d5;
  color: white;
}


