
.notes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: #9bc2a2;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 5px;
  background-color: #9bc2a2;
  margin-left: 3%;
  margin-right: 3%;
}

tbody {
  font-size: 10px;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 15px;
  font-size: 32px;
  border: none;
}

th {
  background-color: #9bc2a2;
  font-size: 20px;
}

td {
  background-color: #9bc2a2;
}

tr {
  font-size: 10px;
}

.render, .render-name {
  font-size: 23px;
}

.render-name {
  color: #ffffff;
  font-size: 25px;
}

.header {
  font-size: 15px;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

.profileTitle {
  margin-left: 30%;
  margin-top: 2%;
}

.userTitle {
  margin-left: 38%;
  margin-top: 1%;
  margin-bottom: 2%;
}

button {
  padding: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.addProject {
  margin-left: 4%;
  margin-top: 2%;
}

.addForm {
  margin-left: 4%;
  margin-right: 3%;
}

.addButton {
  margin-left: 1%;
}

input {
  font-size: 20px;
  width: 30%;
  border-radius: 8px;
  border: none;
  padding-left: 1%;
  margin-left: 1%;
}




